* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #2f2f2f;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #1e1e1e;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 320px;
  border-radius: 15px;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #2d6cdf;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.about {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 60px 10%;
}

.about-img img {
  width: 260px;
  border-radius: 12px;
}

.about-text {
  max-width: 600px;
}
.hero-img img {
  width: 350px;
  border-radius: 16px;
}
.skills,
.work,
.contact {
  margin-top: 60px;
}

/* Text spacing inside sections */
.skills p,
.work p,
.contact p {
  margin: 8px 0;
}

/* Headings spacing */
.skills h2,
.work h2,
.contact h2 {
  margin-bottom: 15px;
}
